@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll efektini yumuşat */
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: auto;
}

/* Temaya göre arkaplan ve metin rengi */
body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;

  /* Scrollbar'ı gizle ama kaydırma kalsın */
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE/Edge */
}

body::-webkit-scrollbar {
  display: none;                  /* Chrome/Safari */
}